*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* nav */
nav{
    height: 80px;
    background-color: #417690;
}

nav ul{
    display: flex;
    float: right;
    list-style-type: none;
}
nav .logoo a{
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    font-size: 25px;
    margin-bottom: 5%;
    color: white;
    text-decoration: none;
}
nav ul li {
    margin-top: 15px;
    margin-right: 5px;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    color:white;
}
nav ul i{
    margin-top: 15px;
    margin-left: 15px;
}
nav ul a:hover{
  color:#8d5707;
}
nav .logoo a span{
    font-size: 25px;
    margin-bottom: 5%;
    color:#FF9800;
    padding-left: 5px;
}
nav ul a{
  color:#FF9800;
  transition: .3s all ease-in-out;
}
/* main */
main{
    width: 100%;
    height: auto;
    display: flex;
    background-color:white;
}
main ul {
    padding-top: 20px;
    list-style-type: none;
    flex: 20%;
    padding-left: 18px;
}

main ul li{
    padding-top: 25px;  
}
main ul li a{
    text-decoration: none;  
    color: black;
    
}
main ul li a:hover{
  text-decoration: none; 
  
}
main section{
    flex: 80%;
    padding-left: 90px;
    margin-top: -10%;

}
main ul li{
    width: 130px;
}


/* Product */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.product{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    text-align: center;
    transition-duration: 1s;
    margin-top: 15px;
    margin-right: 5px;
    height: 300px;
}

.add_to_card{
   margin-top: 2px;
   cursor: pointer;
   background-color: #417690;
   font-size: 15px;
   border-radius:10px;
   color: rgb(255, 255, 255);
   padding: 10px;
}

/* footer */
.footer {
	width: 100%;
	background: #00121b;
	display: flex;
    margin-top: 5%;
 }
.footer span{
    color:#FF9800;
}
 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
}

.footer-items {
	flex: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

.footer-items ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

.footer-items ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

.footer-items ul a:hover {
	color: #ff9800;
}

.footer-items ul li {
	margin: 10px 0;
	height: 15px;
}

.footer-items li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: left;
	font-size: 20px;
    margin-left: 27px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
    color: #FF9800;
}




@media screen and (max-width: 1275px) {
	.footer-items {
		width: 20%;
	}
}


@media only screen and (max-width: 705px) {
	body {
      overflow-x: hidden;
  }
}

@media screen and (min-width :660px) {
	.footer-items {
		width: 40%;
	}
}


@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
        
	}
    .img_product img{
        margin-left: 5%;
    }
    
    .cart-detil .cart-product img{
        margin-left: 5%;

    }
    .delete-btn {
      margin-left: 100%;
    }
}
@media screen and (max-width: 660px) {
  .countinu{
    display: flex;
    flex-direction: column;
  }
}




.active{
    width: 180px;
    background: rgb(167 181 208);
    height: 40px;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 8px;
}

.detils{
    margin-top: 5%;
    flex: 30;
}
.img_product{
    margin-top: 5%;
    flex: 35;
    margin-right: 20px;
    height: 400px;
}
.img_product img{
    height: 80%;
}
.sides{
    flex: 30;
}


.shopping-cart {
    width: 750px;
    height: auto;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    min-height: 276px;
    display: flex;
    flex-direction: column;
  }


  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  
.item input{  
  color: #ffffff;
  margin-right:1px;
  margin-top: 2%;
  text-decoration: none;
  background: #9e0000;
  border-radius: 19px;
  padding: 13px;
  cursor: pointer;
  border: none;
}

  .image {
    margin-right: 50px;
    width: 20%;
  }
   
  
  .description {
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }

  .quantity {
    margin-right: 30px;
    width: 20%;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .total-price {
    width: 83px;
    text-align: center;
    font-size: 16px;
  }
  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }  


.countinu{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}
.countinu #countinu_Shoping{
  color: cornflowerblue;
    text-decoration: none;
    background: whitesmoke;
    border-radius: 19px;
    padding: 8px;
}
.countinu #checkout{
  color: rgb(151, 25, 25);
    text-decoration: none;
    background: whitesmoke;
    border-radius: 19px;
    padding: 8px;
 
}
#customize_price{
  display: flex;
}
#update{
  border-radius: 56px;
  width: auto;
  background: #a59898;
  color: white;
  padding: 2px;
  cursor: pointer;
  border: none;
  margin: 0;
  width: 53px;
 
}


.create_order{
  min-height: 276px;
  display: flex;
 
}
.create_order .form{
  flex: 50;
}